.doc_down.ace {background-image: url("../img/ico/ace.gif");}
.doc_down.ade {background-image: url("../img/ico/ade.gif");}
.doc_down.adp {background-image: url("../img/ico/adp.gif");}
.doc_down.ai {background-image: url("../img/ico/ai.gif");}
.doc_down.aiff {background-image: url("../img/ico/aiff.gif");}
.doc_down.au {background-image: url("../img/ico/au.gif");}
.doc_down.avi {background-image: url("../img/ico/avi.gif");}
.doc_down.bat {background-image: url("../img/ico/bat.gif");}
.doc_down.bin {background-image: url("../img/ico/bin.gif");}
.doc_down.bmp {background-image: url("../img/ico/bmp.gif");}
.doc_down.bup {background-image: url("../img/ico/bup.gif");}
.doc_down.cab {background-image: url("../img/ico/cab.gif");}
.doc_down.cat {background-image: url("../img/ico/cat.gif");}
.doc_down.chm {background-image: url("../img/ico/chm.gif");}
.doc_down.css {background-image: url("../img/ico/css.gif");}
.doc_down.cue {background-image: url("../img/ico/cue.gif");}
.doc_down.dat {background-image: url("../img/ico/dat.gif");}
.doc_down.dcr {background-image: url("../img/ico/dcr.gif");}
.doc_down.default {background-image: url("../img/ico/default.gif");}
.doc_down.der {background-image: url("../img/ico/der.gif");}
.doc_down.dic {background-image: url("../img/ico/dic.gif");}
.doc_down.divx {background-image: url("../img/ico/divx.gif");}
.doc_down.diz {background-image: url("../img/ico/diz.gif");}
.doc_down.dll {background-image: url("../img/ico/dll.gif");}
.doc_down.doc {background-image: url("../img/ico/doc.gif");}
.doc_down.docx {background-image: url("../img/ico/docx.gif");}
.doc_down.dos {background-image: url("../img/ico/dos.gif");}
.doc_down.dvd {background-image: url("../img/ico/dvd.gif");}
.doc_down.dwg {background-image: url("../img/ico/dwg.gif");}
.doc_down.dwt {background-image: url("../img/ico/dwt.gif");}
.doc_down.emf {background-image: url("../img/ico/emf.gif");}
.doc_down.exc {background-image: url("../img/ico/exc.gif");}
.doc_down.fon {background-image: url("../img/ico/fon.gif");}
.doc_down.gif {background-image: url("../img/ico/gif.gif");}
.doc_down.hlp {background-image: url("../img/ico/hlp.gif");}
.doc_down.html {background-image: url("../img/ico/html.gif");}
.doc_down.ifo {background-image: url("../img/ico/ifo.gif");}
.doc_down.inf {background-image: url("../img/ico/inf.gif");}
.doc_down.ini {background-image: url("../img/ico/ini.gif");}
.doc_down.ins {background-image: url("../img/ico/ins.gif");}
.doc_down.ip {background-image: url("../img/ico/ip.gif");}
.doc_down.iso {background-image: url("../img/ico/iso.gif");}
.doc_down.isp {background-image: url("../img/ico/isp.gif");}
.doc_down.java {background-image: url("../img/ico/java.gif");}
.doc_down.jfif {background-image: url("../img/ico/jfif.gif");}
.doc_down.jpeg {background-image: url("../img/ico/jpeg.gif");}
.doc_down.jpg {background-image: url("../img/ico/jpg.gif");}
.doc_down.js {background-image: url("../img/ico/js.gif");}
.doc_down.log {background-image: url("../img/ico/log.gif");}
.doc_down.m4a {background-image: url("../img/ico/m4a.gif");}
.doc_down.mid {background-image: url("../img/ico/mid.gif");}
.doc_down.mmf {background-image: url("../img/ico/mmf.gif");}
.doc_down.mmm {background-image: url("../img/ico/mmm.gif");}
.doc_down.mov {background-image: url("../img/ico/mov.gif");}
.doc_down.movie {background-image: url("../img/ico/movie.gif");}
.doc_down.mp3 {background-image: url("../img/ico/mp3.gif");}
.doc_down.mpe {background-image: url("../img/ico/mpe.gif");}
.doc_down.mpeg {background-image: url("../img/ico/mpeg.gif");}
.doc_down.mpg {background-image: url("../img/ico/mpg.gif");}
.doc_down.nfo {background-image: url("../img/ico/nfo.gif");}
.doc_down.pdd {background-image: url("../img/ico/pdd.gif");}
.doc_down.pdf {background-image: url("../img/ico/pdf.gif");}
.doc_down.php {background-image: url("../img/ico/php.gif");}
.doc_down.png {background-image: url("../img/ico/png.gif");}
.doc_down.ppt {background-image: url("../img/ico/ppt.gif");}
.doc_down.pptx {background-image: url("../img/ico/pptx.gif");}
.doc_down.psd {background-image: url("../img/ico/psd.gif");}
.doc_down.rar {background-image: url("../img/ico/rar.gif");}
.doc_down.reg {background-image: url("../img/ico/reg.gif");}
.doc_down.rtf {background-image: url("../img/ico/rtf.gif");}
.doc_down.scp {background-image: url("../img/ico/scp.gif");}
.doc_down.theme {background-image: url("../img/ico/theme.gif");}
.doc_down.tif {background-image: url("../img/ico/tif.gif");}
.doc_down.tiff {background-image: url("../img/ico/tiff.gif");}
.doc_down.tlb {background-image: url("../img/ico/tlb.gif");}
.doc_down.ttf {background-image: url("../img/ico/ttf.gif");}
.doc_down.txt {background-image: url("../img/ico/txt.gif");}
.doc_down.uis {background-image: url("../img/ico/uis.gif");}
.doc_down.url {background-image: url("../img/ico/url.gif");}
.doc_down.vbs {background-image: url("../img/ico/vbs.gif");}
.doc_down.vcr {background-image: url("../img/ico/vcr.gif");}
.doc_down.vob {background-image: url("../img/ico/vob.gif");}
.doc_down.wav {background-image: url("../img/ico/wav.gif");}
.doc_down.wba {background-image: url("../img/ico/wba.gif");}
.doc_down.wma {background-image: url("../img/ico/wma.gif");}
.doc_down.wmv {background-image: url("../img/ico/wmv.gif");}
.doc_down.wpl {background-image: url("../img/ico/wpl.gif");}
.doc_down.wri {background-image: url("../img/ico/wri.gif");}
.doc_down.wtx {background-image: url("../img/ico/wtx.gif");}
.doc_down.xls {background-image: url("../img/ico/xls.gif");}
.doc_down.xlsx {background-image: url("../img/ico/xlsx.gif");}
.doc_down.xml {background-image: url("../img/ico/xml.gif");}
.doc_down.xsl {background-image: url("../img/ico/xsl.gif");}
.doc_down.zap {background-image: url("../img/ico/zap.gif");}
.doc_down.zip {background-image: url("../img/ico/zip.gif");}
